<head>
    <meta charset="UTF-8">
    <title>GRE Study Aid</title>
    <link rel="stylesheet" href="main_style.css" type="text/css">
    <script>
    function termHelp() {
    alert("You can go back to the home page be clicking the Home button, or you can navigate to the previous page by using your browser's back arrow.");
    }
    </script>
</head>
<body>
    <div class="headerTop">
        <a href="/" class="topButton">Home</a>
        <button onclick="termHelp()" class="topButton">Help</button>
    </div>
    <br/>
    <div class="header">
        <h1 class="mh1">GRE Chemistry Terms</h1> <br>
        <h2 class="h2">absolute zero -</h2>
        <h2 class="h3">Absolute zero is the lowest limit of the thermodynamic temperature scale, a state at which the enthalpy and entropy of a cooled ideal gas reach their minimum value, taken as zero kelvins. The fundamental particles of nature have minimum vibrational motion, retaining only quantum mechanical, zero-point energy-induced particle motion. The theoretical temperature is determined by extrapolating the ideal gas law; by international agreement, absolute zero is taken as −273.15 degrees on the Celsius scale (International System of Units),[1][2] which equals −459.67 degrees on the Fahrenheit scale (United States customary units or Imperial units).[3] The corresponding Kelvin and Rankine temperature scales set their zero points at absolute zero by definition.

It is commonly thought of as the lowest temperature possible, but it is not the lowest enthalpy state possible, because all real substances begin to depart from the ideal gas when cooled as they approach the change of state to liquid, and then to solid; and the sum of the enthalpy of vaporization (gas to liquid) and enthalpy of fusion (liquid to solid) exceeds the ideal gas's change in enthalpy to absolute zero. In the quantum-mechanical description, matter (solid) at absolute zero is in its ground state, the point of lowest internal energy.

The laws of thermodynamics indicate that absolute zero cannot be reached using only thermodynamic means, because the temperature of the substance being cooled approaches the temperature of the cooling agent asymptotically,[4] and a system at absolute zero still possesses quantum mechanical zero-point energy, the energy of its ground state at absolute zero. The kinetic energy of the ground state cannot be removed.

Scientists and technologists routinely achieve temperatures close to absolute zero, where matter exhibits quantum effects such as Bose–Einstein condensate, superconductivity and superfluidity.</h2>
    </div>
        <style>
            body {
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: cover;
            }
            .headerTop {
                font-family: verdana;
                border: none;
            }
            .topButton {
                font-family: verdana;
                color: #8fb0d6;
                text-align: center;
                font-size: 48px;
                border: none;
                display: inline-block;
                padding: 15px 32px;
                text-decoration: none;
            }
            .mh1 {
                font-family: verdana;
                color: #224b7a;;
                text-align: center;
                font-size: 120px;
                border: none;
                display: inline-block;
                padding: 15px 32px;
                text-decoration: none;
            }
            .h2 {
                font-family: verdana;
                color: #8fb0d6;;
                text-align: center;
                font-size: 70px;
                border: none;
                display: inline-block;
                padding: 15px 32px;
                text-decoration: none;

            }
            .h3 {
                font-family: verdana;
                text-align: left;
                font-size: 20px;
                border: none;
                display: inline-block;
                padding: 15px 32px;
                text-decoration: none;

            }
            .footer {
                position: fixed;
                left: 0;
                bottom: 0;
                width: 100%;
                background-color: #224b7a;
                color: white;
                text-align: center;
            }
            .searchButton {
                background-color: #8fb0d6;
                border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 32px;
                margin: 4px 2px;
                cursor: pointer;
            }
            </style>
    <div class="footer">
        <p>GRE Study Aid Demo for CS 361 - Jared Keirns</p>
    </div>       
</body>