<head>
    <meta charset="UTF-8">
    <title>GRE Study Aid</title>
    <link rel="stylesheet" href="main_style.css" type="text/css">
    <script>
    function termHelp() {
    alert("You can go back to the home page be clicking the Home button, or you can navigate to the previous page by using your browser's back arrow.");
    }
    </script>
</head>
<body>
    <div class="headerTop">
        <a href="/" class="topButton">Home</a>
        <button onclick="termHelp()" class="topButton">Help</button>
    </div>
    <br/>
    <div class="header">
        <h1 class="mh1">GRE Math Terms</h1> <br>
        <h2 class="h2">circumference -</h2>
        <h2 class="h3">In geometry, the circumference (from Latin circumferens, meaning "carrying around") is the perimeter of a circle or ellipse.[1] That is, the circumference would be the arc length of the circle, as if it were opened up and straightened out to a line segment.[2] More generally, the perimeter is the curve length around any closed figure. Circumference may also refer to the circle itself, that is, the locus corresponding to the edge of a disk.</h2>
    </div>
        <style>
            body {
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: cover;
            }
            .headerTop {
                font-family: verdana;
                border: none;
            }
            .topButton {
                font-family: verdana;
                color: #8fb0d6;
                text-align: center;
                font-size: 48px;
                border: none;
                display: inline-block;
                padding: 15px 32px;
                text-decoration: none;
            }
            .mh1 {
                font-family: verdana;
                color: #224b7a;;
                text-align: center;
                font-size: 120px;
                border: none;
                display: inline-block;
                padding: 15px 32px;
                text-decoration: none;
            }
            .h2 {
                font-family: verdana;
                color: #8fb0d6;;
                text-align: center;
                font-size: 70px;
                border: none;
                display: inline-block;
                padding: 15px 32px;
                text-decoration: none;

            }
            .h3 {
                font-family: verdana;
                text-align: left;
                font-size: 20px;
                border: none;
                display: inline-block;
                padding: 15px 32px;
                text-decoration: none;

            }
            .footer {
                position: fixed;
                left: 0;
                bottom: 0;
                width: 100%;
                background-color: #224b7a;
                color: white;
                text-align: center;
            }
            .searchButton {
                background-color: #8fb0d6;
                border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 32px;
                margin: 4px 2px;
                cursor: pointer;
            }
            </style>
    <div class="footer">
        <p>GRE Study Aid Demo for CS 361 - Jared Keirns</p>
    </div>       
</body>