<head>
    <meta charset="UTF-8">
    <title>GRE Study Aid</title>
    <link rel="stylesheet" href="main_style.css" type="text/css">
    <script>
    function examListHelp() {
    alert("You can click the Home button to go back to the home page. You can select which practice exam you would like to take by clicking its respective button.");
    }
    </script>
</head>
<body>
    <div class="headerTop">
        <a href="/" class="topButton">Home</a>
        <button onclick="examListHelp()" class="topButton">Help</button>
    </div>
    <br/>
    <div class="header">
        <h1 class="mh1">Practice Exams</h1> <br>
        <h2 class="h3">Which exam are you studying for?</h2>
        <h2><a href="generalPractice" class="h2">General</a> ~45min</h2>
        <h2><a href="mathPractice" class="h2">Math</a> ~50min</h2>
        <h2><a href="chemistryPractice" class="h2">Chemistry</a> ~55min</h2>
    </div>
<style>
            body {
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: cover;
            }
            .headerTop {
                font-family: verdana;
                border: none;
            }
            .topButton {
                font-family: verdana;
                color: #8fb0d6;
                text-align: center;
                font-size: 48px;
                border: none;
                display: inline-block;
                padding: 15px 32px;
                text-decoration: none;
            }
            .mh1 {
                font-family: verdana;
                color: #224b7a;;
                text-align: center;
                font-size: 120px;
                border: none;
                display: inline-block;
                padding: 15px 32px;
                text-decoration: none;
            }
            .h2 {
                font-family: verdana;
                color: #8fb0d6;;
                text-align: center;
                font-size: 70px;
                border: none;
                display: inline-block;
                padding: 15px 32px;
                text-decoration: none;

            }
            .h3 {
                font-family: verdana;
                color: #224b7a;
                text-align: center;
                font-size: 50px;
                border: none;
                display: inline-block;
                padding: 15px 32px;
                text-decoration: none;

            }
            .footer {
                position: fixed;
                left: 0;
                bottom: 0;
                width: 100%;
                background-color: #224b7a;
                color: white;
                text-align: center;
            }
            </style>
    <div class="footer">
        <p>GRE Study Aid Demo for CS 361 - Jared Keirns</p>
    </div>    
</body>