<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="main_style.css" type="text/css">
</head>
<body>
    <div class="headerTop">
        <a href="/">Home</a>
        <a href="products">Help</a>
    </div>
    <br/>
    <div class="header">
        <h1>GRE Study Aid</h1>
        <h2>About</h2>
        <div class="about_info">
        This is where about info will go.
        </div>
    </div>
        <style>
            body {
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: cover;
            }
            </style>
    <div class="footer">
        <p>Footer</p>
    </div>        
</body>