<head>
    <meta charset="UTF-8">
    <title>GRE Study Aid</title>
    <link rel="stylesheet" href="main_style.css" type="text/css">
</head>
<body>
    <div class="headerTop">
        <a href="about">About</a>
        <a href="products">Help</a>
    </div>
    <br/>
    <div class="header">
        <h1>GRE Study Aid</h1>
        <h2><a href="practiceExams">Practice Exams</a></h2>
        <h2><a href="terms">Terms</a></h2>
        <h2><a href="testingLocations">Testing Locations</a></h2>
    </div>
        <style>
            body {
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: cover;
            }
            </style>
    <div class="footer">
        <p>Footer</p>
    </div>        
</body>