<head>
    <meta charset="UTF-8">
    <title>GRE Study Aid</title>
    <link rel="stylesheet" href="main_style.css" type="text/css">
</head>
<body>
    <div class="headerTop">
        <a href="/">Home</a>
        <a href="products">Help</a>
    </div>
    <br/>
    <div class="header">
        <h1>GRE Chemistry Terms</h1>
        <h2>photon -</h2>
        <h2>This is where the scraped definition will go.</h2>
    </div>
        <style>
            body {
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: cover;
            }
            </style>
    <div class="footer">
        <p>Footer</p>
    </div>        
</body>