<head>
    <meta charset="UTF-8">
    <title>GRE Study Aid</title>
    <link rel="stylesheet" href="main_style.css" type="text/css">
</head>
<body>
    <div class="headerTop">
        <a href="/">Home</a>
        <a href="products">Help</a>
    </div>
    <br/>
    <div class="header">
        <h1>Practice Exams</h1>
        <h2>Which exam are you studying for?</h2>
        <h2><a href="generalPractice">General</a> ~45min</h2>
        <h2><a href="mathPractice">Math</a> ~50min</h2>
        <h2><a href="chemistryPractice">Chemistry</a> ~55min</h2>
    </div>
<style>
body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
</style>    
</body>